
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    font-size: 3rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right,var(--mainBlue),var(--lightBlue));
    -webkit-background-clip: text; 
    color:transparent;
    letter-spacing: .2rem;
    transition: all .2s;
}

.login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/form.jpeg);
    height: 100%; 
    transform: translateX(-3rem) scale(1.2);  
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    width: 60%;
    height: 60%;
    padding: 15px;
    border-radius: 1px;
    position: absolute;
    top:20%;
    left:20%;
    outline-offset: 1.5rem;

    &:hover{
        outline: 1.5rem solid var(--lightBlue);
        transform: scale(1.05) translate(-3rem);
        box-shadow: 0 2.5rem 4rem rgba(black,.5);
        z-index: 20;
    }
   }
    
   .login-error{
    font-size: 2rem;
    color:red;
   }
    
   input{
    width: 100%;
    display: block;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    
    &:focus{
        outline: none;
        box-shadow: 0 1rem 2rem rgba(black, .1);
        border-bottom: 3px solid var(--color-primary);
    }
 }
    
 label{
     display: block;
     font-size: 1.5rem;
     color:white;
     text-transform: uppercase;
 }

 .center{
     display: flex;
     justify-content: center;
     align-items: center;
     border-top: 3rem;
 }
    .submit-button{
        background-color: var(--mainBlue);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
    
    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    } 
   }

 